

body {
background: #142d4c
 }

hr {
border-style: dotted none none;
border-color: #385170;
border-width: 5px;
height: 2px;
width: 20%
}

h1 {
color: #9fd3c7
}

h2 {
color: #9fd3c7
}

h3 {
color: #9fd3c7
}

p, ul, td {
color: #ececec;
}
